{% extends "base.html" %}
{% block title %}<title>Insert Book</title>{% endblock title %}
{% block content %}
<div class="container">

    <form method="POST">
        {% csrf_token %}
        <div class="container mt-4">
            <div class="btn-group fixed-top bg-white p-2 shadow">
              <button type="submit" class="btn btn-primary me-3 mb-2">
                <i class="fas fa-paper-plane"></i> Submit / Save File
              </button>
              <button type="button" class="btn btn-info me-3 mb-2">
                <i class="fas fa-plus-circle"></i> Single Row
              </button>
              <button type="button" class="btn btn-success me-3 mb-2">
                <i class="fas fa-layer-group"></i> Add Multiple Rows
              </button>
            </div>
          </div>
          
          
  
    <table class="table-responsive table table-bordered table-striped mt-4 table-hover  border rounded  shadow-sm p-2">
        <thead>
            <tr>
                <th scope="col" class="">No.</th>

            {% for columns in related_column_names  %}
            <th scope="col">{{columns.column_title}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody style="max-height:20px!important;"  class=" overflow-scroll">

            {{ formset.management_form }}
            {% for form in formset  %}
             <tr>
                <td class="">{{forloop.counter}}</td>
                {% for columns in related_column_names  %}
                {% comment %} <td class="">{{form.as_p}}</td> {% endcomment %}
                <td>
                  <input type="text" class="form-control border-0" value="" name="{{columns.column_title}}-columns">
                </td>
                {% endfor %}
             </tr>
            {% endfor %}
        
        </tbody>
    </table>
</form>
</div>
{% endblock content %}