{% extends "club/book/export/base.html" %}

{% block content %}
<div class="container">

        <table class="table table-bordered table-striped mt-4 table-hover border rounded shadow-sm p-2">
            <thead class="sticky-top">
                <tr>
                    <th scope="col" class="">No.</th>
                    {% for column in related_column_names %}
                    <th scope="col">{{ column.column_title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in combined_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>  <!-- Corrected: closing <td> tag for the counter -->
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock content %} 
