{% extends "base.html" %}
{% block title %}<title>Fin's Club Dashboard</title>{% endblock title %}

{% block content %}
<div class="container p-3">
    <h4>My Chart's List</h4>

    <table class="table table-bordered table-striped table-hover  border rounded  shadow-sm p-2">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">RecordBook Name</th>
                <th scope="col">Created Date</th>
                <th scope="col">Action </th>
            </tr>
        </thead>
        <tbody>
            {% for book in created_book_records %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ book.title }}</td>
                    <td>{{ book.created_at }}</td>
                    <td class="">
                        <div class="d-grid gap-6 d-md-block">
                            <a href="{% url "club:insert_databook" id=book.id %}" class="btn btn-primary fw-semibold text-light" type="button">Add / Edit RecordBook <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                              </svg></a>
                           
                            <a class="btn btn-info" href="{% url "club:view_databook" id=book.id %}" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                  </svg>
                                  View Now
                            </a> 
                          </div>
                    
                    </td> <!-- Assuming you have a `created_at` field -->
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No books available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}