{% load static %}
<header class="hero-header">
    <div class="container-fluid d-flex justify-content-start align-items-center object-fit" style="background-size:cover; height: 55vh; background-image: url({% static '/bg-images/e-payment-pay-the-bill-of_11129158.jpg' %});">
        <div class="text-white p-5" style="background-color: rgba(116, 100, 100, 0.7);">
            <h1 class="display-4 fw-bold" style="line-height: 1.5;">Welcome, Ryan</h1> <!-- Adjusting line-height here -->
            <p class="lead">Discover amazing content and features.</p>
            <div class="d-flex justify-content-start">
                <a href="#learn-more" class="btn btn-primary btn-sm mx-2">Create Record</a>
                <a href="#contact" class="btn btn-secondary btn-sm mx-2">Contact Us</a>
            </div>
        </div>
    </div>
</header>
